body{
    background-color:white;
}

.header h1{
    text-align: center;
    color:darkblue;
    font-family:sans-serif;
    font-size: 35px;
}

.header{
    /* background-color: lightgrey; */
    width: 1000px;
    height: 60px;
    /* border: 1px solid red; */
    margin: 0;
    margin-bottom: 10px;
}

.nav{
    font-family: sans-serif;
    background-color: antiquewhite;
    width: 1000px;
    height: 50px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.menu{
    width: 600px;
    height: 35px;
    /* border: 1px solid red; */
    padding-top: 5px;
    margin-left: 10px;
}

.menu a{
    font-size: 20px;
    font-family: sans-serif;
    color: blue;
    text-align: center;
    text-decoration: none;
}

.menu a:visited{
    color: purple;
}

.menu ul{
    /* border: 1px solid red; */
    height: 30px;
    margin:5px;
    margin-top: 10px;
    list-style: none;
}

.menu li{
    /* border: 1px solid red; */
    float: left;
    position: relative;
    margin-right: 10px;
}

.main_img{
    width: 800px;
    height: 500px;
    border: 1px solid white;
    margin-left: 100px;
    
    background-image: url(main_img.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
}

#overpic{
    /* border:1px solid green; */
    text-align: center;
    color:beige;
    margin-top: 150px;
    font-size: 25px; 
    font-family: sans-serif;
}

.non_click_button{
    text-align: center;
    font-size: 22px;
    border: 5px solid black;
    border-style: double;
    width: 175px;
    height: 30px;
    color:black;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    margin-left: 490px;
}

#explore{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    color:darkmagenta;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;

    width: 500px;
    /* border: 1px solid firebrick; */

    margin-left: 250px;
    margin-top: 20px;
}

.cuisine_block{
    width: 800px;
    height: 300px;
    /* border: 1px solid red; */
    margin-left: 100px;
    margin-bottom: 50px;
}

.horizontal{
    width: 395px;
    height: 280px;
    /* border:1px solid blue; */
    float: left;
    margin-top: 10px;
    /* display: inline; */
}

.text_right{
    width: 300px;
    /* border: 1px solid red; */
    margin-left: 70px;
    margin-top: 90px;
    font-family: sans-serif;
}

.text_left{
    width: 290px;
    /* border: 1px solid red; */
    margin-left: 0px;
    margin-top: 90px;
    font-family: sans-serif;
}

.horizontal h3{
    color: royalblue;
    margin-bottom: 0px;
}

.horizontal p{
    margin-top: 0px;
}

.pic_left img{
    width: 375px;
    height: 260px;
    border: 10px solid rgb(238, 202, 208);
}

.pic_right img{
    width: 375px;
    height: 260px;
    border: 10px solid skyblue;
}
